.nav-cont {
    max-width: 1200px;
    margin: auto;
}

.nav-wrapper {
    max-width: 600px;
    border-radius: 10px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    animation-name: navbar;
    animation-duration:4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



@keyframes navbar {
    0% {background-color: rgb(255,190,85,1);}
    100% {background-color: #B7DFFF;}

}

.navlog-wrapper {
    max-width: 70px;
    height: 100vh;
    border-radius: 0px ;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 50;
    animation-name: navbar;
    animation-duration:4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    box-shadow: 0px 3px 7px grey;
}



.logout {
    position: fixed;
    right:2%;
    top:2%;
    z-index: 50;
    animation-name: navbar;
    animation-duration:4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    color: white;
    padding:10px;
    border-radius: 10px;
    border: transparent;
}