.nav-cont {
    max-width: 1200px;
    margin: auto;
}

.nav-wrapper {
    width: 600px;
    border-radius: 10px;
    background-color: rgb(0,0,0,.7);
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.nav-wrapper:hover {
    background-color: rgb(0,0,0,1);

}